<mat-toolbar color="primary">
        <mat-select class="filter-select" [(ngModel)]="selectedFilter" (change)="fetchUploads(selectedFilter)">
          <mat-option *ngFor="let filter of filterOptions" [value]="filter">
            {{filter}}
          </mat-option>
        </mat-select>
</mat-toolbar>
<br>

<div *ngIf="!uploads.length"><h3>No uploads to display.</h3></div>
<div *ngFor="let upload of uploads">
<br>
<mat-card>

<mat-card-title>
    <h4>{{upload.originalname}}</h4>
<app-audio-player [audioSrc]="upload.filename"></app-audio-player>
</mat-card-title>

    <mat-card-content>
    score: {{upload.score}}<br>
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="liked" (click)="like(upload._id)">
          <mat-icon>arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="disliked" (click)="dislike(upload._id)">
          <mat-icon>arrow_downward</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

    </mat-card-content>
<mat-card-actions>
  <mat-form-field class="upload-url">
    <input style="cursor:pointer;" (click)='$event.target.select()' matInput value="{{getUploadUrl(upload.filename)}}">
  </mat-form-field>
</mat-card-actions>

</mat-card>
</div>
