<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>{{uploadName}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <label class="mat-raised-button upload-btn" for="upload">
  <h4>
  Supported file types: .mp3 / .wav / .ogg
  <br>
  &nbsp;&nbsp;Browse....&nbsp;</h4>
  </label>
  <input name="myfile" type="file" id="upload" accept="audio/*" (change)="fileChangeEvent($event)" required>
  </mat-card-content>
  <mat-card-actions>
<button mat-raised-button color="primary" (click)="upload()">Upload</button>
</mat-card-actions>
<mat-card-actions *ngIf="uploaded">
<h4>{{uploadName}} was uploaded</h4>
Click <a routerLink="/files">here</a> to view uploads.
</mat-card-actions>

</mat-card>
